body {
    margin: 0;

}

#page {
    max-width: 1340px;
    margin: auto;
    font-family: 'raleway', sans-serif;
}




@font-face {
    font-family: 'raleway', "sans-serif";
    src: url("Projet_Reservia/police/Raleway-regular.ttf");
    src: url("Projet_ Reservia/police/Raleway-ExtraBold.ttf");
    font-style: normal;
    font-weight: normal;
}


/*------------------------------------Header--------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    padding: 10px;
    margin: 0 0;
}

.header__nav {
    display: flex;
    flex-direction: column;
}

.ligne_couleur {
    display: flex;

}

.ligne_bleu {
    width: 50%;
    border: 1px solid #0065FC;
}

.ligne_grise {
    width: 50%;
    border: 1px solid #f2f2f2;
}
     
nav ul {
    list-style-type: none;
    display: flex;
    padding-left: 20px;
}

nav li {
    
    padding: 10px 20px;
    font-size: 1em;
    margin: -10px 0;
}

li a {
    color: #0065FC;
    text-decoration: none;
}

.hébergements :hover {
    color: #5a96f0;
}

.inscrire :hover {
    color: #5a96f0;
}

a[href="#activites"] {
    /* change la couleur de l'ancre activites */
    color: black;
}

h1 {
    /*titre*/
    Font-size: 1.3em;
    padding: 0px 10px;
}

.ville {
    padding: 0px 10px;
}

.bloc_rechercher {
    /*barre de recherche*/
    max-width: 430px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.bloc_rechercher i {
    color: black;
}

.champ_map {
    border-radius: 10px 0 0 10px;
    background-color: #f2f2f2;
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    max-width: 235px;
    height: 46px;
    font-weight: bold;
    font-size: 1.1em;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    border-right: none;
    border-left: none;
    padding-left: 10px;
}

::placeholder {
    color: black;
}

input[type="button"] {
    background-color: #0065fc;
    color: white;
    border-radius: 0 10px 10px 0;
    max-width: 135px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.Rechercher {
    display: flex;
}

.Rechercher .fas {
    font-size: 0px;
}

.bloc_filtre {
    /* menu des filtres */
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    font-weight: bolder;
    padding: 10px;
}

.bloc_filtre .titre {
    padding-right: 15px;
    padding-left: 10px;
}

.filtre {
    /* 4 champs de filtre */
    display: flex;
    flex-wrap: wrap;
}

.economique,
.familial,
.romantique,
.animaux {
    height: 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    margin-right: 13px;
    margin-bottom: 10px;
}

.icone_economique,
.icone_familial,
.icone_romantique,
.icone_animaux {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(222, 235, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.economique p,
.familial p,
.romantique p,
.animaux p {
    padding: 10px 10px 10px 10px;
}

.filtre :hover {
    /*survol des filtres */
    color: green;
}

.information {
    max-width: 430px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.information i {
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
    border: 2px solid #f2f2f2;
    color: #0065FC;
}







/*------------------------------------SECTION-----------------------------------*/



h2 {
    font-size: 1.4em;
    font-weight: bold;
}


.hebergement_populaire {
    /* section contient le bloc hebergement et populaire */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bloc_hebergement {
    /* conteneur titre + les articles hebergement */
    background-color: #f2f2f2;
    border-radius: 20px;
    max-width: 860px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
}

#hebergements {
    /*titre hebergement */
    padding-left: 40px;
    font-size: 1.4em;
}


.afficher_plus {
    padding-left: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

.blocs_articles_hebergement {
    /*conteneur des articles */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.article_hebergement {
    margin: 15px;
    border: 5px solid white;
    background-color: white;
    border-radius: 15px;
    width: 235px;
    height: 190px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px grey;
}

.image {
    width: 235px;
    height: 115px;
    display: flex;
}

.image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

.description_hebergement {
    background-color: white;
    height: 75px;
}

.description_hebergement h3 {
    font-size: 1em;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.description_hebergement p {
    font-size: 0.8em;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.description_hebergement div {
    padding-left: 10px;
    margin-top: 5px;
}

i {
    color: #0065FC;
}

span i {
    color: #e2dede;
}


.hebergement_populaire a,
.section_activites a {
    /* supprime l'affichage des liens */
    text-decoration: none;
    color: black;
}



/*les plus populaires */


.bloc_populaire {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#les_plus_populaires {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

#les_plus_populaires i {
    color: black;
}

.blocs_articles_populaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.article_populaire {
    border-radius: 15px;
    border: 5px solid white;
    width: 335px;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    overflow: hidden;
}

.image_populaire_soleil,
.image_populaire_bleu {
    width: 130px;
    height: 134px;
}

.image_populaire_eau {
    width: 185px;
    height: 134px;
}

.image_populaire_soleil img,
.image_populaire_eau img,
.image_populaire_bleu img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

.descriptif_populaire {
    background-color: white;
    border-radius: 0 10px 10px 0;
}

.descriptif_populaire h3 {
    padding-left: 20px;
    font-size: 1.1em;
}

.descriptif_populaire p {
    padding-left: 20px;
    font-size: 0.8em;
}

.descriptif_populaire div {
    padding-left: 20px;
}


/* les activites */

.section_activites {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.bloc_colonnes_activites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* 1er et 3 colonne */
.bloc_port,
.bloc_calanques {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 2px 15px grey;
    overflow: hidden;
    /* pour masquer le débordement des coins de l'image */
}

/* 2eme et 4eme colonne*/
.bloc_fort_lunette,
.bloc_dame_longchamp {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* contenu 2eme colonne*/
.bloc_fort {
    display: flex;
    flex-direction: column;
    height: 235px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 2px 15px grey;
}

.bloc_lunette {
    display: flex;
    flex-direction: column;
    height: 165px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 2px 15px grey;
}

/*contenu 4eme colonne*/

.bloc_dame {
    display: flex;
    flex-direction: column;
    height: 195px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 2px 15px grey;
}

.bloc_longchamp {
    display: flex;
    flex-direction: column;
    height: 210px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 2px 15px grey;
}

.photo_port img,
.photo_calanques img,
.photo_fort img,
.photo_lunette img,
.photo_dame img,
.photo_longchamp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo_port,
.photo_calanques {
    height: 390px;
}

.photo_fort {
    height: 180px;
}

.photo_lunette {
    height: 110px;
}

.photo_dame {
    height: 140px;
}

.photo_longchamp {
    height: 155px;
}

.text_port,
.text_calanques,
.text_fort,
.text_lunette,
.text_dame,
.text_longchamp {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding-left: 20px;
    font-weight: bold;
}



/*-----------------------------------------------PIED DE PAGE--------------------------------------*/

footer {
    background-color: #f2f2f2;
    margin-top: 55px;
}

.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.colonne_footer1,
.colonne_footer2,
.colonne_footer3 {
    width: 30%;

}

.container h2 {
    padding-left: 40px;
}

footer ul {
    list-style-type: none;
    line-height: 2em;
}


/*------------------------------------media queries --------------------------------*/

@media all and (max-width: 1299px) {

    .hebergement_populaire {
        justify-content: center;
    }

    .bloc_populaire {
        width: 860px;
        margin: 10px 0;
    }

    .blocs_articles_populaire {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}


@media all and (max-width: 1214px) {

    .bloc_dame,
    .bloc_longchamp {
        margin-top: 20px;
    }

    .bloc_colonnes_activites {
        justify-content: space-around;
    }
}

@media all and (max-width: 915px) {

    .bloc_calanques {
        margin-top: 20px;
    }

}

@media all and (max-width: 615px) {


    .hebergement_populaire {
        flex-wrap: wrap-reverse;
    }

    .bloc_populaire,
    .bloc_hebergement {
        border-radius: unset;
    }

    .blocs_articles_populaire {
        justify-content: center;
    }

    .section_activites {
        margin-top: 0px;
    }

    .bloc_fort,
    .bloc_lunette {
        margin-top: 20px;
    }

    .section_activites h2 {
        text-align: center;
    }

    .container {
        flex-direction: column;
        justify-content: space-between;
    }

    .colonne_footer1,
    .colonne_footer2,
    .colonne_footer3 {
        width: 100%;
    }

    .bloc_port,
    .bloc_fort,
    .bloc_lunette,
    .bloc_calanques,
    .bloc_dame,
    .bloc_longchamp {
        width: 335px;
        height: 190px;
    }

    .bloc_port img,
    .bloc_fort img,
    .bloc_lunette img,
    .bloc_calanques img,
    .bloc_dame img,
    .bloc_longchamp img,
    .photo_lunette {
        height: 130px;
    }

    .bloc_fort_lunette,
    .bloc_dame_longchamp {
        align-items: center;
    }
}

@media all and (max-width: 440px) {


    header {
        flex-direction: column;
    }
    
    .header__nav {
        position: relative;
        flex-direction: column-reverse;
        /* max-width: 440px; */
    }

    .activites {
        padding-left: 50px;
    }

    .inscrire {
        position: absolute;
        right: 55px;
        top: -40px;
        font-weight: bold;
    }

    .ligne_couleur {
        display: flex;
    }

    .ligne_bleu {
        width: 50%;
        border: 1px solid #0065FC;
    }

    .ligne_grise {
        width: 50%;
        border: 1px solid #f2f2f2;
    }

    input[type="button"] {
        width: 50px;
        font-size: 0px;
    }

    .bloc_rechercher {
        justify-content: center;
    }

    .Rechercher {
        position: relative;
    }

    .Rechercher .fas {
        position: absolute;
        font-size: 100%;
        color: white;
        right: 20px;
        top: 15px;
    }

    .bloc_hebergement {
        background-color: unset;
    }

    .article_hebergement {
        width: 320px;
    }

    .image {
        width: 320px;
        height: 115px;
    }
}